- alias: 'Christian Coming Home Light'
  initial_state: true
  trigger:
    platform: zone
    entity_id: device_tracker.iphone_von_christian
    zone: zone.home
    event: 'enter'
  condition:
    condition: and
    conditions:
      - condition: state
        entity_id: device_tracker.simons_iphone
        state: 'not_home'
      - condition: state
        entity_id: device_tracker.flos_iphone
        state: 'not_home'
      - condition: or
        conditions:
          - condition: sun
            before: sunrise
            before_offset: "+01:00:00"
          - condition: sun
            after: sunset
            after_offset: "-01:00:00"
  action:
    - service: hue.hue_activate_scene
      data:
        group_name: Wohnzimmer
        scene_name: Entspannt
    - service: hue.hue_activate_scene
      data:
        group_name: Christian
        scene_name: Entspannen

- alias: 'Christian Coming Home Music'
  initial_state: true
  trigger:
    platform: zone
    entity_id: device_tracker.iphone_von_christian
    zone: zone.home
    event: 'enter'
  condition:
    condition: and
    conditions:
      - condition: state
        entity_id: device_tracker.simons_iphone
        state: 'not_home'
      - condition: state
        entity_id: device_tracker.flos_iphone
        state: 'not_home'
  action:
    - service: notify.mobile_app_simons_iphone
      data:
        message: "Christian ist zu Hause"
        title: "Jemand ist zu Hause"
    - service: notify.mobile_app_flos_iphone
      data:
        message: "Christian ist zu Hause"
        title: "Jemand ist zu Hause"
    - service: notify.mobile_app_iphone_von_christian
      data:
        message: "Willkommen zu Hause, Christian!"
        title: "Jemand ist zu Hause"
    - service: media_player.volume_set
      data:
        entity_id: media_player.wohnzimmer
        volume_level: 0.1
    - service: media_player.media_play
      data:
        entity_id: media_player.wohnzimmer
        
- alias: 'Christian Leaving Home'
  initial_state: true
  trigger:
    - platform: zone
      entity_id: device_tracker.iphone_von_christian
      zone: zone.home
      event: 'leave'
    - platform: zone
      entity_id: device_tracker.christian_cgi
      zone: zone.home
      event: 'leave'
  condition:
    condition: and
    conditions:
      - condition: state
        entity_id: device_tracker.simons_iphone
        state: 'not_home'
      - condition: state
        entity_id: device_tracker.flos_iphone
        state: 'not_home'
  action:
    - service: notify.mobile_app_simons_iphone
      data:
        message: "Christian hat die Wohnung verlassen"
        title: "Keiner zu Hause"
    - service: notify.mobile_app_flos_iphone
      data:
        message: "Christian hat die Wohnung verlassen"
        title: "Keiner zu Hause"
    - service: notify.mobile_app_iphone_von_christian
      data:
        message: "Türe abgesperrt? \nHerd aus? \n \nNa dann viel Erfolg und pass auf dich auf!"
        title: "Tschüss"
    - service: light.turn_off
      data:
        entity_id: light.wohnzimmer_3
    - service: light.turn_off
      data:
        entity_id: light.christian
    - service: light.turn_off
      data:
        entity_id: light.simon
    - service: light.turn_off
      data:
        entity_id: light.abstellkammer
    - service: media_player.media_stop
      data:
        entity_id: media_player.wohnzimmer

- alias: 'Florian Coming Home Light'
  initial_state: true
  trigger:
    platform: zone
    entity_id: device_tracker.flos_iphone
    zone: zone.home
    event: 'enter'
  condition:
    condition: and
    conditions:
      - condition: state
        entity_id: device_tracker.simons_iphone
        state: 'not_home'
      - condition: state
        entity_id: device_tracker.iphone_von_christian
        state: 'not_home'
      - condition: or
        conditions:
          - condition: sun
            before: sunrise
            before_offset: "+01:00:00"
          - condition: sun
            after: sunset
            after_offset: "-01:00:00"
  action:
    - service: hue.hue_activate_scene
      data:
        group_name: Wohnzimmer
        scene_name: Entspannt
        
- alias: 'Florian Coming Home Music'
  initial_state: true
  trigger:
    platform: zone
    entity_id: device_tracker.flos_iphone
    zone: zone.home
    event: 'enter'
  condition:
    condition: and
    conditions:
      - condition: state
        entity_id: device_tracker.simons_iphone
        state: 'not_home'
      - condition: state
        entity_id: device_tracker.iphone_von_christian
        state: 'not_home'
  action:
    - service: notify.mobile_app_simons_iphone
      data:
        message: "Flo ist zu Hause"
        title: "Jemand ist zu Hause"
    - service: notify.mobile_app_flos_iphone
      data:
        message: "Willkommen zu Hause, Flo!"
        title: "Jemand ist zu Hause"
    - service: notify.mobile_app_iphone_von_christian
      data:
        message: "Flo ist zu Hause"
        title: "Jemand ist zu Hause"
    - service: media_player.volume_set
      data:
        entity_id: media_player.wohnzimmer
        volume_level: 0.1
    - service: media_player.media_play
      data:
        entity_id: media_player.wohnzimmer


- alias: 'Florian Leaving Home'
  initial_state: true
  trigger:
    platform: zone
    entity_id: device_tracker.flos_iphone
    zone: zone.home
    event: 'leave'
  condition:
    condition: and
    conditions:
      - condition: state
        entity_id: device_tracker.simons_iphone
        state: 'not_home'
      - condition: state
        entity_id: device_tracker.iphone_von_christian
        state: 'not_home'
  action:
    - service: notify.mobile_app_simons_iphone
      data:
        message: "Flo hat die Wohnung verlassen"
        title: "Keiner zu Hause"
    - service: notify.mobile_app_flos_iphone
      data:
        message: "Türe abgesperrt? \nHerd aus? \n \nNa dann viel Erfolg und pass auf dich auf!"
        title: "Tschüss"
    - service: notify.mobile_app_iphone_von_christian
      data:
        message: "Flo hat die Wohnung verlassen"
        title: "Keiner zu Hause"
    - service: light.turn_off
      data:
        entity_id: light.wohnzimmer_3
    - service: light.turn_off
      data:
        entity_id: light.christian
    - service: light.turn_off
      data:
        entity_id: light.simon
    - service: light.turn_off
      data:
        entity_id: light.abstellkammer
    - service: media_player.media_stop
      data:
        entity_id: media_player.wohnzimmer

- alias: 'Simon Coming Home Light'
  initial_state: true
  trigger:
    platform: zone
    entity_id: device_tracker.simons_iphone
    zone: zone.home
    event: 'enter'
  condition:
    condition: and
    conditions:
      - condition: state
        entity_id: device_tracker.flos_iphone
        state: 'not_home'
      - condition: state
        entity_id: device_tracker.iphone_von_christian
        state: 'not_home'
      - condition: or
        conditions:
          - condition: sun
            before: sunrise
            before_offset: "+01:00:00"
          - condition: sun
            after: sunset
            after_offset: "-01:00:00"
  action:
    - service: hue.hue_activate_scene
      data:
        group_name: Wohnzimmer
        scene_name: Entspannt
        
- alias: 'Simon Coming Home Music'
  initial_state: true
  trigger:
    platform: zone
    entity_id: device_tracker.simons_iphone
    zone: zone.home
    event: 'enter'
  condition:
    condition: and
    conditions:
      - condition: state
        entity_id: device_tracker.flos_iphone
        state: 'not_home'
      - condition: state
        entity_id: device_tracker.iphone_von_christian
        state: 'not_home'
  action:
    - service: notify.mobile_app_simons_iphone
      data:
        message: "Willkommen zu Hause, Simon!"
        title: "Jemand ist zu Hause"
    - service: notify.mobile_app_flos_iphone
      data:
        message: "Simon ist zu Hause"
        title: "Jemand ist zu Hause"
    - service: notify.mobile_app_iphone_von_christian
      data:
        message: "Simon ist zu Hause"
        title: "Jemand ist zu Hause"
    - service: media_player.volume_set
      data:
        entity_id: media_player.wohnzimmer
        volume_level: 0.1
    - service: media_player.media_play
      data:
        entity_id: media_player.wohnzimmer


- alias: 'Simon Leaving Home'
  initial_state: true
  trigger:
    platform: zone
    entity_id: device_tracker.simons_iphone
    zone: zone.home
    event: 'leave'
  condition:
    condition: and
    conditions:
      - condition: state
        entity_id: device_tracker.flos_iphone
        state: 'not_home'
      - condition: state
        entity_id: device_tracker.iphone_von_christian
        state: 'not_home'
  action:
    - service: notify.mobile_app_simons_iphone
      data:
        message: "Türe abgesperrt? \nHerd aus? \n \nNa dann viel Erfolg und pass auf dich auf!"
        title: "Tschüss"
    - service: notify.mobile_app_flos_iphone
      data:
        message: "Simon hat die Wohnung verlassen"
        title: "Keiner zu Hause"
    - service: notify.mobile_app_iphone_von_christian
      data:
        message: "Simon hat die Wohnung verlassen"
        title: "Keiner zu Hause"
    - service: light.turn_off
      data:
        entity_id: light.wohnzimmer_3
    - service: light.turn_off
      data:
        entity_id: light.christian
    - service: light.turn_off
      data:
        entity_id: light.simon
    - service: light.turn_off
      data:
        entity_id: light.abstellkammer
    - service: media_player.media_stop
      data:
        entity_id: media_player.wohnzimmer

- alias: 'Bewegung Gang'
  initial_state: false #TODO: cahnge to "true" as soon as hardware is ready
  trigger:
    - platform: state
      entity_id: binary_sensor.hue_motion_sensor_1_motion #TODO: replace with 1st sensor in "Gang"
      from: "off"
      to: "on"
    - platform: state
      entity_id: binary_sensor.hue_motion_sensor_1_motion #TODO: replace with 2nd sensor in "Gang"
      from: "off"
      to: "on"
  condition:
    condition: or
    conditions:
      - condition: sun
        before: sunrise
        before_offset: "+01:00:00"
      - condition: sun
        after: sunset
        after_offset: "-01:00:00"
  action:
    - service: hue.hue_activate_scene
      data_template:
        group_name: "Gang" #TODO: change to "Gang" after creating in HUE App
        scene_name: >
          {% if is_state('input_boolean.flo_nachtmodus', 'on') or is_state('input_boolean.simon_nachtmodus', 'on') %} 
            Nacht 2
          {% else %} 
            Hell
          {% endif %}
          
- alias: 'Bewegung Garderobe'
  initial_state: false #TODO: cahnge to "true" as soon as hardware is ready
  trigger:
    - platform: state
      entity_id: binary_sensor.hue_motion_sensor_2_motion #TODO: replace with 1st sensor in "Gang"
      from: "off"
      to: "on"
  condition:
    - condition: numeric_state
      entity_id: sensor.hue_motion_sensor_2_light_level
      below: 5
  action:
    - service: hue.hue_activate_scene
      data_template:
        group_name: "Gardarobe" #TODO: change to "Gang" after creating in HUE App
        scene_name: >
          {% if is_state('input_boolean.christian_nachtmodus', 'on') or (is_state('input_boolean.flo_nachtmodus', 'on') and is_state('input_boolean.simon_nachtmodus', 'on')) %} 
            Nacht 2
          {% else %} 
            Hell
          {% endif %}
          
- alias: 'Christian Enter Door'
  initial_state: true
  trigger:
    platform: zone
    entity_id: device_tracker.iphonevhristian
    zone: zone.home
    event: 'enter'
  action:
    service: tts.google_translate_say
    entity_id: media_player.wohnzimmer
    data:
      message: 'Hello Christian! Nice to have you back. I will play some music for you.'
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          

